<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로필</title>
</head>
<body>
    <h2>프로필</h2>
    <hr/>
    <p>아이디 : <%=user.userid%></p>
    <p>이름: <%=user.name%></p>

    <%
    if(user.provider == 'facebook'){
    %>
    <p>이메일 : <%=user.facebook.email%></p>
    <%
    }else{
    %>
    <p>나이 : <%=user.age%></p>
    <%
    }
    %>
    <p><a href="/logout">로그아웃</a></p>
</body>
</html>