<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 파라미터</title>
</head>
<body>
    <h2>EJS 로그인 파라미터</h2>
    <p>아이디 : <%=userid%></p>
    <p>비밀번호 : <%=userpw%></p>
</body>
</html>